<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100">
        <section>
            <h1 class="display-1"> About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Consectetur debitis sint vel nulla eos delectus est, enim ipsum, 
                totam consequuntur explicabo nostrum voluptates officia iste ex laboriosam necessitatibus 
                sapiente dolorem neque voluptatum doloribus assumenda! Quas, aperiam non! Iusto tempore ut 
                dolorum, assumenda, ad nulla voluptatum non in labore natus id qui iure nam. Assumenda aliquam a, 
                sunt dolores voluptates incidunt repudiandae id commodi cumque facilis reprehenderit, officia veniam 
                vitae impedit ullam, est beatae temporibus culpa eligendi. Fuga animi quisquam commodi, tempore 
                aspernatur assumenda voluptatem vitae, alias eveniet quam temporibus ab delectus nobis ea exercitationem 
                blanditiis qui placeat. Accusamus quam quia totam eligendi reiciendis, natus veritatis corrupti autem sit 
                fuga. Maxime vero autem aperiam libero earum nihil ipsa illo tenetur laudantium alias nobis cum, quam 
                fugit voluptatum provident rerum ullam voluptate doloribus pariatur nisi maiores officiis iusto eius. 
                Consequatur suscipit officiis quam, corporis, et fugit quisquam porro ducimus deserunt ipsum voluptatum 
                similique repellat quaerat libero neque delectus, quibusdam id laboriosam consequuntur voluptates 
                voluptatem excepturi vitae. Tempore consequuntur voluptatem exercitationem nesciunt at. Nam cupiditate 
                quia aliquam accusantium dolor perspiciatis rerum repellat quibusdam molestias modi, necessitatibus eum 
                adipisci numquam odio commodi ex quod, voluptatum ipsum quam. Nisi ducimus atque quam eligendi, tempora 
                iusto!</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>